<section class="navigation">
  <div class="nav-container">
    <div class="brand">
      <a routerLink="">CELAL BAYAR ÜNİVERSİTESİ</a>
    </div>
    <nav>
      <div class="nav-mobile"><a id="navbar-toggle" href="#!"><span></span></a></div>
      <ul class="nav-list">
        <li>
          <a routerLink="">Anasayfa</a>
        </li>
        <li>
          <a href="#!"></a>
        </li>
        <li>
          <a routerLink="printer">Yazıcılar</a>
        </li>
        <li >
          <a routerLink="toner">Tonerler</a>
        </li>
        <li *ngIf="claims.includes('admin')">
          <a routerLink="admin">ADMİN PANELİ</a>
        </li>
        
        <li *ngIf="!isLoggedIn">
          <a routerLink="login">Giriş Yap</a>
        </li>
        <li *ngIf="isLoggedIn">
          <a routerLink="/passwordchange" >Şifre Değiştir</a>
        </li>
        <li *ngIf="isLoggedIn">
          <a (click)="logout()" >Çıkış Yap</a>
        </li>
        

      </ul>
    </nav>
  </div>
</section>

<!-- 
<li *ngIf="claims.includes('storage')">
  <a routerLink="printer">Yazıcılar</a>
</li>
<li *ngIf="claims.includes('provider')">
  <a routerLink="toner">Tonerler</a>
</li> -->