
<div class="boddy">
    <div>
        <div class="button-container ">
      
        </div> 
      
      </div>
      <h1 class="title">YAZICI ENVANTERİ</h1>
      <div class="mb-3">
          <input
            type="text"
            [(ngModel)]="filterText"
            class="form-control"
            id="filterText"
            placeholder="Arama Giriniz."
          />
        </div>
        <div *ngIf="filterText" class="alert alert-success">
          {{ filterText }} aradınız.
        </div>
      
      <button *ngIf="claims.includes('storage')||claims.includes('admin')" routerLink="/printer/add" style="    background: #2581DC; float: left; margin: 15px; " >YAZICI EKLE</button>    
      
      <button *ngIf="claims.includes('storage')||claims.includes('admin')"  style="    background: #870202; float: right;margin: 15px; " >YAZICI SİL</button>    
      
      <div class="table-wrapper">
        
          <table class="fl-table">
              <thead>
              <tr>
                  
                  <th>Yazıcı Seri Numarası</th>
                  <th>Yazıcı Marka</th>
                  <th>Yazıcı Model</th>
                  
              
              </tr>
              </thead>
              <tbody *ngFor="let printer of printers | printerFilter:filterText,filter">
              <tr>
                  <td>{{printer.serialNumber}}</td>
                  <td>{{printer.brandName}}</td>
                  <td>{{printer.modelName}}</td>
       
              </tr>
              
              <tbody>
          </table>
          
      </div>
      
      
</div>

    

