<div class="boddy">
  <header role="banner">
    <h1>ADMİN</h1>
    <ul class="utilities">
      <br />
      <li (click)="logout()" class="logout warn"><a>Log Out</a></li>
    </ul>
  </header>

  <nav role="navigation">
    <ul class="main">
      <li class="dashboard"><a>Dashboard</a></li>
      <li class="bi-cast"><a routerLink="">Anasayfa</a></li>
      <li class="write"><a href="#">Yazıcı Ekle</a></li>
      <li class="edit"><a href="#">Yazıcı Sil</a></li>
      <li class="write"><a href="#">Toner Ekle</a></li>
      <li class="edit"><a href="#">Toner Sil</a></li>

      <li class="users"><a routerLink="/users">Kullanıcılar</a></li>
      <li class="write"><a routerLink="/admin/user/add">Kullanıcı Ekle</a></li>
    </ul>
  </nav>
  <main role="main">
    <router-outlet></router-outlet>
  </main>
</div>
