<div class="container">
    <div class="header">
        <div class="clr"></div>
    </div>

<div class="wdp-container">
<div class="wdp-content">
  <div class="wdp-logo"></div>
  <h2 class="frame-1" style="font-size: 60px;">Manisa Celal Bayar Üniversitesi</h2>
  <h2 class="frame-2"style="font-size: 60px;" >Hafsa Sultan Hastanesi</h2>
  <h2 class="frame-3"style="font-size: 60px;">Bilgi İşlem Müdürlüğü</h2>
  <h2 class="frame-4"style="font-size: 60px; ">Yazıcı & Toner Takip Sistemi</h2>
  
  <h2 class="frame-5"><span style="color:#000000; text-transform:none;">hastane.mcbu</span><span style="text-transform:none;color:#e2292f;">.edu.tr</span></h2>
</div>
</div>
</div>
