<div class="bdy">
  <img
  [src]="getImagePath()"
  class=" resim"
  alt="..."
 />

  
  <body class="text-center ">

     
  

    <main class="form-signin w-100 m-auto">
      <form [formGroup]="loginForm">
        <!-- <img class="mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
        <h1 class="h3 mb-3 fw-normal">Yazıcı & Toner <br>Takip Sistemi</h1>
  
        <div class="form-floating">
          <input
            formControlName="email"
            type="email"
            class="form-control"
            id="floatingInput"
            placeholder="name@example.com"
          />
          <label for="floatingInput">Email </label>
        </div>
        <div class="form-floating">
          <input
            formControlName="password"
            type="password"
            class="form-control"
            id="floatingPassword"
            placeholder="Password"
          />
          <label for="floatingPassword">Parola</label>
        </div>
  
        <div class="checkbox mb-3">
          
        </div>
        <button (click)="login()" style=" background: #01932d;  margin: 15px; " >Giriş Yap</button>    
        <p class="mt-5 mb-3 text-muted"> Manisa Celal Bayar Üniversitesi <br> Hafsa Sultan Hastanesi<br> Bilgi İşlem Departmanı</p>
      </form>
    </main>
  </body>
  



</div>


