
<h1 class="title">TONER ENVANTERİ</h1>
<button style="    background: #2581DC; float: left; margin: 15px; " >YAZICI EKLE</button>    

<button  style="    background: #870202; float: right;margin: 15px; " >YAZICI SİL</button>    

<div class="table-wrapper">
  
    <table class="fl-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Yazıcı Seri Numarası</th>
            <th>Yazıcı Marka</th>
            <th>Yazıcı Model</th>
            
        
        </tr>
        </thead>
        <tbody *ngFor="let toner of toners">
        <tr>
            <td>{{toner.id}}</td>
            <td>{{toner.serialNumber}}</td>
            <td>{{toner.brandName}}</td>
            <td>{{toner.modelName}}</td>
 
        </tr>
        
        <tbody>
    </table>
    
    

</div>
