<body>
    <div class="container">
        <div class="title">Yazıcı Ekle</div>
        <form action="#">
            <div class="user_details">
                <div class="input_pox">
                    <span class="datails">Yazıcı Seri Numarası:</span>
                    <input type="text" placeholder="Yazıcı Seri Numarası Giriniz" required>
                </div>
                <div class="input_pox">
                    <span class="datails">Marka</span>
                    <input type="text" placeholder="Marka Giriniz" required>
                </div>
                <div class="input_pox">
                    <span class="datails">Model</span>
                    <input type="text" placeholder="Model Giriniz" required>
                </div>
               
            </div>
           
            <button style="    background: #2581DC; align-items: center;  margin: 15px; " >Yazıcıyı Ekle</button>    

        </form>
    </div>
</body>